* {
  margin: 0;
}
body {
  /* цвет основного текста #2E2F42 */

  /* цвет вторичного текста (+адрес) #434455 */
  color: var(--primary-text-color);
  /* цвет футера+Н1 #F4F4FD */
  /* акцент   #404BBF */
  /* цвет  кнопки #E7E9FC */
  /* текст на кнопке #4D5AE5*/

  /* position: relative;
  padding-right: 156px;
  padding-left: 156px;
  width: 1440px;
  height: 2592px;*/

  /* Основной ШРИФТ */
  font-family: "Roboto", sans-serif;

  background: var(--secondry-white-color);
}

:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #404bbf;
  --primary-bg-color: #4d5ae5;
  --secondary-bg-color: #e7e9fc;
  --secondry-white-color: #ffffff;
}

/* HEADER */

.header-li {
  list-style: none;
}
/*Header-LOGOTYPE */

.web.link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.web.link {
  color: #4d5ae5;
}
.studio {
  color: #2e2f42;
}

/* Header-NAVIGATION */
.web.link {
  text-decoration: none;
}
.header.list {
  list-style: none;
}

.header.link {
  color: var(--title-text-color);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header.link:hover,
.header.link:focus {
  color: var(--accent-color);
  text-decoration-line: underline;
  text-decoration-color: var(--accent-color);
}

/* Header-ADRESS */
.header-adress {
  font-style: normal;
  line-height: 1.5;
}

.adress.list {
  list-style: none;
}
.adress.link {
  color: var(--primary-text-color);
  text-decoration-line: none;
  letter-spacing: 0.02em;
}

.adress.link:focus,
.adress.link:hover {
  color: var(--accent-color);
}

/* HERO */

.hero {
  background-color: var(--title-text-color);
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondry-white-color);
  line-height: 1.07;
}

.button.primary {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.04em;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  cursor: pointer;
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-color);
}

/* Our privilegies */

.op-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.op-title-li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.op-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.op-title,
.op-title-li {
  color: var(--title-text-color);
}
.op-list {
  list-style: none;
}

/* what are we doing */

.what-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}
.what.list {
  list-style: none;
}

/* our team */
.our-team {
  background-color: #f4f4fd;
}
.team.list {
  list-style: none;
}

.team-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-title-li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-li {
  background-color: #ffffff;
}

.team-title,
.team-title-li {
  color: var(--title-text-color);
}
.team-text {
  background-color: var(--secondry-white-color);
}
.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button.primary {
  color: var(--secondry-white-color);
  background-color: var(--primary-bg-color);
}
.button.secondary {
  color: var(--primary-bg-color);
  background-color: var(--secondary-bg-color);
}

/* FOOTER */
.studio-footer {
  color: #f4f4fd;
}

.footer {
  background-color: var(--title-text-color);
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--secondary-bg-color);
}

/* BLOCKS Project's*/ /* BLOCKS Project's*/

/* HERO SECTION*/
.hero {width: 1440px;height: 600px;}
.hero-section {
  display: inline-block;
  vertical-align: middle;
  margin-top: 188px;
  margin-left: 472px;
  margin-right: 472px;
  
  
}
.hero-title {
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
}
.button.primary {
  margin-left: auto;
  margin-right: auto;
}

/* PORTFOLIO */ /* PORTFOLIO */ /* PORTFOLIO */ /* PORTFOLIO */ /* PORTFOLIO */ /* PORTFOLIO */ /* PORTFOLIO */

/* HEADER>index */

/* Header */
.main-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
/* Filter */

.button.secondary {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  cursor: pointer;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--secondry-white-color);
  background-color: var(--accent-color);
}
/* Projects  */

.project.list {
  list-style: none;
}

.project-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.project-li,
.filter-li {
  list-style: none;
}

.project.link {
  text-decoration: none;
}
/* BLOCKS Project's*/ /* BLOCKS Project's*/

/* HEADER */
.page-header.conteiner {
  display: flex;
  vertical-align: bottom;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 1128px;
  margin-left: 157px;
  margin-right: 157px;
}
.group-1,
.group-2 {
  display: flex;
}
.box {
  display: inline;
  margin-left: 40px;
}

.header.list {
  margin-left: 36px;
}
.group-2 {
  margin-left: 0px;
}
.adress.list {
  margin-left: 156px;
}

/* Project's FILTER LIST */

.conteiner-filter {
  outline: 1px;
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 96px;
  align-items: center;

  margin-bottom: 59px;
}
.filter-set {
  outline: 1px;
  display: flex;
}

.filter li .filter-button {
  margin: 12px;
  justify-content: center;
  align-items: center;
  padding: 11px 23px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}

/* Project's card set */

/* Portfolio Page  */

.conteiner-project {
  outline: 1px;
  flex-basis: calc(100% / 3);
  width: 1128px;
  margin-left: 157px;
  margin-right: 157px;
}
.card-set {
  outline: 1px solid #ffffff;
  margin: auto;
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3);
  width: 360;
}
.card-set > .item {
  outline: 12px;
  flex-basis: calc(100% / 3);
  width: 360px;
  height: 420px;
  padding-bottom: 10px;
}
.project-title {margin-top: 32px; margin-bottom: 8px; margin-left: 16px;}
.project-text {margin-left: 16px; margin-bottom: 32px;}


/* Footer */
.logo.link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
.footer-studio {
  color: #f4f4fd;
}
